<header>
    <div class="header-logo">
        <a href="/">My Website</a>
    </div>

    <div class="header-menus">
        <li>
            <a href="/article">Article</a>
        </li>
        <li>
            <a href="/setting">Setting</a>
        </li>
        <li>
            <a href="/home/about">About</a>
        </li>
    </div>
</header>
