<div class="main posts-show">
    <div class="container">
        <div class="posts-show-item">
            <p><%= @article.title %></p>
            <p><%= @article.description %></p>
            
            <div class="post-time">
                <p><%= @article.created_at %></p>
            </div>

            <a href="/article">Back</a>
        </div>
    </div>
</div>