<div class="main posts-new">
    <div class="container">
        <form action="/article/create" class="form" method="post">
            <div class="form-body">
                <label>title</label>
                <input name="title" required>

                <label>Description</label>
                <textarea name="description" required></textarea>

                <button type="submit">submit</button>

                <a href="/article">back</a>
            </div>
        </form>
    </div>
</div>